node_modules
npm-debug.log
typings

Thumbs.db
.DS_Store

*.js
!karma.conf.js
!angular2-jwt.js
*.map
*.d.ts
!angular2-jwt.d.ts
!custom.d.ts
.idea/
*.iml
*.metadata.json
*.ngsummary.json
*.ngfactory.ts
